<div class="wrap">
  <div class="block">
    <div class="left">
      <list [listActive]="listActive"></list>
      <button
        class="btn-add"
        (click)="addButtonHandler()"
        [ngClass]="statusButton ? 'active' : 'not-active'"
      >
        <span *ngIf="!statusButton">Добавить</span>
        <span *ngIf="statusButton">Отменить</span>
      </button>
    </div>
    <div class="right">
      <drop *ngIf="dropShow"></drop>
      <view *ngIf="viewShow" [cerContent]="cerContent"></view>
    </div>
  </div>
</div>
