<div class="wrap">
  <!-- Test comment -->
  <div class="block">
    <div class="left">
      <list
        *ngIf="listShow"
        (onSelectItem)="onSelectItem($event)"
        [listActive]="listActive"
        [storageData]="storageData"
        [resetSelectedItems]="resetSelectedItems"
      ></list>
      <button
        class="btn-add"
        (click)="addButtonHandler()"
        [ngClass]="addButtonActive ? 'active' : 'not-active'"
      >
        <span *ngIf="!addButtonActive">Добавить</span>
        <span *ngIf="addButtonActive">Отменить</span>
      </button>
    </div>
    <div class="right">
      <drop *ngIf="dropShow" (onDrop)="onDrop()"></drop>
      <view *ngIf="!dropShow" [cerContent]="cerContent"></view>
    </div>
  </div>
</div>
