.wrap {
  display: flex;
}

.wrap--column {
  flex-direction: column;
}

.wrap--centered {
  align-items: center;
}

.cer-block {
  display: flex;
}

.cer-block__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-top: 90px;
}

.cer-block__right {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.cer-btn-add {
  background-color: #e6e6e6;
  border: 1px solid black;
  font: 400 0.875rem Helvetica, Arial, sans-serif;
  padding: 4px 20px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
