.view {
  height: 199px;
  width: 274px;
  padding: 8px;
  text-align: center;
  font: 400 0.875rem Helvetica, Arial, sans-serif;
  color: #c0c0c0;
  border: 1px solid black;
}

.view.filled {
  font: 400 0.875rem Helvetica, Arial, sans-serif;
  color: black;
  border: 1px solid black;
  text-align: left;
}
